*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

body{
    display: grid;
    grid-template-areas: 
            "header header"
            "main aside";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

header { grid-area: header; }
main { grid-area: main; }
aside { grid-area: aside; }

header{
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

#searching{
        display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 20px;
}